<!doctype html>
{% load static from staticfiles %}
<html lang="en" dir="ltr">
	<head>
		<!-- Meta data -->
		<meta charset="UTF-8">
		<meta name='viewport' content='width=device-width, initial-scale=1.0, user-scalable=0'>
		<meta content="CAM – Asset Management System" name="description">
		<meta content="AppdroidInc Technologies Private Limited" name="author">
		<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>
		<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>

		{% include 'base/dashcss.html' %}
	</head>
	<body class="app h-100vh">
		<!-- Loader -->
		{% comment %} <div id="loading">
			<img src="{% static "assets/images/other/loader.svg" %}" class="loader-img" alt="Loader">
		</div> {% endcomment %}

		<!-- Page opened -->
		<div class="page">
			<div class="">
				<div class="col col-login mx-auto">
					<div class="text-center">
						<h2 style="font-family: 'Dodger Shadow'; font-size: 48px; text-shadow: 4px 4px 4px #aaa;">Crystal</h2>
						{% comment %} <img src="{% static "assets/images/brand/logo.png" %}" class="header-brand-img desktop-logo h-100 mb-5" alt="CAM logo"> {% endcomment %}
						{% comment %} <img src="{% static "assets/images/brand/logo1.png" %}" class="header-brand-img dark-theme h-100 mb-5 " alt="CAM logo"> {% endcomment %}
					</div>
				</div>
				<!-- container opened -->
				<div class="container">
					<div class="row">
						<div class="col-xl-9 justify-content-center mx-auto text-center">
							<div class="card">
							<div class="subnews-img mb-3 p-3">
								<img src="{% static "assets/images/svg/email.svg" %}" alt="" class="w-25">
							</div>
							<h3>Email Sent</h3>
                			<h1>Check your inbox.</h1>
                			<p>We've emailed you instructions for setting your password. You should receive the email shortly!</p>
							</div>
						</div>
					</div>
				</div>
				<!-- container closed -->
			</div>
		</div>
		<!-- Page closed -->
		{% include 'base/jsx.html' %}
	</body>
</html>