{% load static from staticfiles %}

<!-- Jquery-scripts -->
{% comment %} <script src="{% static "assets/js/vendors/jquery-3.2.1.min.js" %}"></script> {% endcomment %}

<!-- Moment js-->
<script src="{% static "assets/plugins/moment/moment.min.js" %}"></script>

<!-- Bootstrap-scripts js -->
<script src="{% static "assets/js/vendors/bootstrap.bundle.min.js" %}" ></script>

<!-- Sparkline JS-->
<script src="{% static "assets/js/vendors/jquery.sparkline.min.js" %}" ></script>

<!-- Material Date Picker js  -->
<script src="{% static "assets/js/bootstrap-material-datetimepicker.js" %}" ></script>

<!-- Bootstrap-daterangepicker js -->
<script src="{% static "assets/plugins/bootstrap-daterangepicker/daterangepicker.js" %}" ></script>


<!-- Bootstrap-datepicker js -->
<script src="{% static "assets/plugins/bootstrap-datepicker/bootstrap-datepicker.js" %}" ></script>

<!-- Chart-circle js -->
<script src="{% static "assets/js/vendors/circle-progress.min.js" %}"></script>

<!-- Rating-star js -->
<script src="{% static "assets/plugins/rating/jquery.rating-stars.js" %}"></script>

<!-- Clipboard js -->
<script src="{% static "assets/plugins/clipboard/clipboard.min.js" %}" ></script>
<script src="{% static "assets/plugins/clipboard/clipboard.js" %}" ></script>

<!-- Prism js -->
<script src="{% static "assets/plugins/prism/prism.js" %}"></script>

<!-- Custom scroll bar js-->
<script src="{% static "assets/plugins/scroll-bar/jquery.mCustomScrollbar.concat.min.js" %}" ></script>

<!-- Nice-select js-->
<script src="{% static "assets/plugins/jquery-nice-select/js/jquery.nice-select.js" %}" ></script>
<script src="{% static "assets/plugins/jquery-nice-select/js/nice-select.js" %}" ></script>


<!-- Sidemenu js-->
<script src="{% static "assets/plugins/sidemenu/sidemenu.js" %}" ></script>

<!-- Sidemenu-respoansive-tabs js -->
<script src="{% static "assets/plugins/sidemenu-responsive-tabs/js/sidemenu-responsive-tabs.js" %}" ></script>

<!-- JQVMap -->
<script src="{% static "assets/plugins/jqvmap/jquery.vmap.js" %}" ></script>
<script src="{% static "assets/plugins/jqvmap/maps/jquery.vmap.world.js" %}" ></script>
<script src="{% static "assets/plugins/jqvmap/jquery.vmap.sampledata.js" %}" ></script>

<!-- Apexchart js-->
<script src="{% static "assets/js/apexcharts.js" %}" ></script>

<!-- Chart js-->
<script src="{% static "assets/plugins/chart/chart.min.js" %}" ></script>

<!-- Index js -->
<script src="{% static "assets/js/index.js" %}" ></script>
<script src="{% static "assets/js/index-map.js" %}" ></script>

<!-- Leftmenu js -->
{% comment %} <script src="{% static "assets/js/left-menu.js" %}" ></script> {% endcomment %}

<!-- Rightsidebar js -->
<script src="{% static "assets/plugins/sidebar/sidebar.js" %}" ></script>

<!-- Custom js -->
<script src="{% static "assets/js/custom.js" %}"></script>

<!--Newsticker js-->
<script src="{% static "assets/plugins/newsticker/jquery.jConveyorTicker.js" %}"></script>
<script src="{% static "assets/js/newsticker.js" %}"></script>

<!-- Sweet-alert js  -->
<script src="{% static "assets/plugins/sweet-alert/sweetalert.min.js" %}"></script>
<script src="{% static "assets/js/sweet-alert.js" %}"></script>

<!-- P-scroll js -->
{% comment %} <script src="{% static "assets/plugins/p-scroll/p-scroll.js" %}" ></script>
<script src="{% static "assets/plugins/p-scroll/p-scroll-leftmenu.js" %}" ></script> {% endcomment %}

<!-- Notifications js -->
<script src="{% static "assets/plugins/notify/js/jquery.growl.js" %}"></script>

<!-- Horizontal js-->
{% comment %} <script src="{% static "assets/plugins/horizontal-menu/horizontal.js" %}"></script> {% endcomment %}

<!-- Select2 js -->
<script src="{% static "assets/plugins/select2/select2.full.min.js" %}"></script>
<script src="{% static "assets/js/select2.js" %}"></script>

<!-- Tempus Dominus Bootstrap 4 -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/tempusdominus-bootstrap-4/5.1.2/js/tempusdominus-bootstrap-4.min.js" integrity="sha256-z0oKYg6xiLq3yJGsp/LsY9XykbweQlHl42jHv2XTBz4=" crossorigin="anonymous"></script>
