<!doctype html>
{% load static from staticfiles %}
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% include 'base/css.html' %}
    {% include 'base/dashcss.html' %} 
    {% include 'base/js.html' %}
    <script src="{% static "js/reconnecting-websocket.min.js" %}" type="text/javascript"></script>
    <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <title>Crystal</title>
  </head>

<body class="app">

<div class="container">
<nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="{% url 'home' %}" style="font-family: 'Dodger Shadow', arial; text-shadow: 4px 4px 4px #aaa;">Crystal</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavDropdown">
      <ul class="navbar-nav">
        {% if user.groups.all.0.name == 'Administrators' or user.groups.all.0.name == 'Supervisor' %}
        <li class="nav-item active">
          <a class="nav-link" href="{% url 'home' %}">Home <span class="sr-only"></span></a>
        </li>
        {% comment %} <li class="nav-item">
          <a class="nav-link" href="{% url 'frontend:device_page' %}">Devices <span class="sr-only"></span></a>
        </li>
         <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Clients
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" href="{% url 'frontend:clients' %}">Client List</a>
            <a class="dropdown-item" href="{% url 'frontend:appointments' %}">Appointments</a>
          </div>
        </li> {% endcomment %}
        {% endif %}
      </ul>
    </div>
  <div class="d-flex header-right ml-auto">
    <div class="d-flex header-right ml-auto">
      <a class="nav-link icon full-screen-link" id="darkBtn">
        <i class="btn btn-primary btn-sm btn-pill" onclick="goDark()">Dark</i>
        <!-- <label class="custom-switch">
        <input type="checkbox" name="custom-switch-checkbox" class="custom-switch-input">
        <span class="custom-switch-indicator"></span>
        <span class="custom-switch-description">Dark</span>
        </label> -->
      </a>
    </div>  
    <div class="d-flex header-right ml-auto">
      <a class="nav-link icon full-screen-link" id="fullscreen-button">
        <i class="mdi mdi-arrow-collapse fs-20"></i>
      </a>
    </div>  

    <!-- Notification -->
    <div class="dropdown drop-profile">
      <a class="nav-link pr-0 leading-none" href="#" data-toggle="dropdown" aria-expanded="false">
        <div class="profile-details mt-1">
          <span style="color: white; margin:2px" class="mr-3 mb-0  fs-15 font-weight-semibold">{{user.first_name}} {{user.last_name}}</span>
          <small class="text-muted mr-3">{{user.groups.all.0.name}}</small>
        </div>
        {% if user.profile.image %}
        <img class="avatar avatar-md brround" src="{{ user.profile.image.url }}" alt="image">
        {% else %}
        <span class="avatar avatar-md brround">{{user.first_name.0}} {{user.last_name.0}} </span>
        {% endif %}
        </a>
      <div class="dropdown-menu dropdown-menu-right dropdown-menu-arrow animated bounceInDown w-250">
        <div class="user-profile bg-header-image border-bottom p-3">
          <div class="user-image text-center">
          {% if user.profile.image %}
            <img class="user-images" src="{{ user.profile.image.url }}" alt="image">
          {% else %}
          <span class="avatar avatar-md brround">{{user.first_name.0}} {{user.last_name.0}} </span>
          {% endif %}
          </div>
          <div class="user-details text-center">
            <h4 class="mb-0">{{user.first_name}} {{user.last_name}}</h4>
            <p class="mb-1 fs-13 text-white-50">{{user.email}}</p>
          </div>
        </div>
        <a class="dropdown-item" href="{% url 'frontend:update_profile' %}">
          <i class="dropdown-icon mdi mdi-account-outline "></i> Edit Profile
        </a>
        <div class="dropdown-divider"></div>
        <a class="dropdown-item" href="#">
          <i class="dropdown-icon mdi mdi-compass"></i> Need help? Call: 07533451533
        </a>
        <a class="dropdown-item mb-1" href="{% url 'logout' %}">
          <i class="dropdown-icon mdi  mdi-logout-variant"></i> Sign out
        </a>
      </div>
    </div>
    <!-- Profile -->
    <div class="float-right">
				<ul class="nav1 bg-transparent">
          <li class="nav-item active">
			      <a class="nav-link" href="#"><i class=""> </i></a>
		      </li>
        </ul>
    </div>
  </div>
</nav>
</div>

<!-- Loader -->
<div id="loading">
  <img src="{% static "assets/images/other/loader.svg" %}" class="loader-img" alt="Loader">
</div>

{% if user.is_authenticated %}
    <div id="update"></div>
    <div id="notify"></div>
{% endif %}
<!-- App-content opened -->
<div class="app-content">

     <div class="container">
    <br/>
        {% block content %}
        {% endblock %}
    </div>
    <div class="container-fluid">
        {% block content1 %}
        {% endblock %}
    </div>
    <div class="container">
    <br/>
		    {% block content2 %}
		    {% endblock %}
	  </div>
	{% block extra_body %}
  {% endblock %}
  
  {% if user.is_authenticated %}
  {%block javascripts%}
  {% include 'base/customjavascripts.html' %}
  {%endblock%}
  {% endif %}
  {% include 'base/jsx.html' %}
</div>
<!-- App-content closed -->

<!-- Footer opened -->
  <footer class="footer-main">
    <div class="container">
      <div class="  mt-2 mb-2 text-center">
        Copyright © 2020 <a href="#" class="fs-14 text-primary">CAM AI Systems Ltd</a>. All rights reserved.
      </div>
    </div>
  </footer>
<!-- Footer closed -->

  <!-- Back-to-top -->
		<a href="#top" id="back-to-top"><i class="fa fa-angle-double-up"></i></a>
  </body>
</html>